
.itemProfile {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    text-align: center;
    width: 50%;
    display: grid;
    grid-template-areas:
            "n c s";
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #0d1117;
    border: 3px solid #2f353c;
    border-radius: 25px
}

.photoProfile {
    grid-area: n;
}

.infoProfile {
    grid-area: c;
    margin: auto;
}

.button {
    grid-area: s;
    text-align: center;
    margin: auto;
}