.header {
    grid-area: h;
    background-color: #161b22;
}
.header img {
    padding: 2.5px;
    width: 200px;

}

.loginBlock {
    font-size: 20px;
    float: right;
    padding: 15px;
}

.loginBlock a {
    color: white;
    text-decoration: none;
}

