
.nav {
    grid-area: n;
    background-color: #0d1117;
    padding: 20px;
}

.item a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: cornflowerblue;
}

.item:hover {
    color: cornflowerblue;
}

.margin {
    margin-top: 50px;
}


