.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}

.item a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: cornflowerblue;
}

.friends {
    margin-top: 25px;
}


