.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    padding: 10px;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.active {
    color: gold;
}
.messages .addPost {
    padding-top: 20px;
    vertical-align: bottom;
}